*~
*.cpython*
**cpython**
*.pyc
**.pyc
*__pycache__/**
*__pycache__/**
.vscode
**/.DS_Store
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.idea*
*/venv*
*.txt
averageScores.txt
lastfit_gen.txt
*.pkl
qtableScores.png
